@{
    ViewData["Title"] = "Contact Me";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Greater Los Angeles Area<br />
    CA, 91101<br />
    <abbr title="Phone">P:</abbr>
    919-308-1725
</address>

<address>
    <strong>Email:</strong> <a href="mailto:cwh21@duke.edu">cwh21@duke.edu</a><br />
    <strong>Secondary:</strong> <a href="mailto:chuang93@gmail.com">chuang93@gmail.com</a>
</address>
